<div class="example-container">
  <button
    *ngIf="formOpen"
    (click)="toggleForm()"
    class="btn btn-outline-primary"
  >
    Post a game || question
  </button>
  <!-- the form that will open / close -->
  <div class="form-container" *ngIf="!formOpen">
    <div>
      <!-- buttons to select file or cancel -->
      <button
        id="upload-button"
        class="btn btn-outline-primary"
        type="button"
        (click)="fileInput.click()"
      >
        Choose File
      </button>
      <button
        (click)="toggleForm()"
        class="btn btn-outline-danger float-right"
      >
        Cancel
      </button>
    </div>

    <input
      hidden
      (change)="onFileSelected()"
      #fileInput
      type="file"
      id="file"
    />

    <mat-slider min="1" max="100" step="1" value="1"></mat-slider>

    <mat-form-field>
      <textarea
        matInput
        placeholder="Give your post a title"
        [value]=""
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Provide a brief description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        placeholder="Tag your post so other players can find it"
      ></textarea>
    </mat-form-field>
  </div>
</div>
