@import url('http://fonts.googleapis.com/css?family=Raleway:300,400,500,600')

*
  font-family: Raleway
  font-weight: 400
.app
  padding: 15px
  // border-radius: 10px
  background-color: #eeeeeee6
  // box-shadow: -3px 3px 8px 2px silver
