#reviews-page
  background: url('src/assets/images/reviews-page-bg.png')
  background-size: cover
  background-position: center top
  background-attachment: fixed
.review-content
  min-height: 100vh

h5
  align-self: flex-start
button
  margin: 2px
  border-radius: 2px
#wiki-link
  align-self: flex-start

h2, h5, p, a
  padding: 6px
  border-radius: 4px
