<div id="reviews-page" class="page">
  <div class="content top-center-all-col">
    <div class="text-content center-all-col">
      <h2>{{ text.page.top.title }}</h2>
      <h5>{{ text.page.top.subtitle }}</h5>

      <p class="paragraph">{{ text.page.top.paragraph }}</p>

      <div style="width: 100%;" class="pull-to-start">
        <app-article-form></app-article-form>
      </div>

      <div style="width: 100%;" class="pull-to-start">
        <app-reviews [reviews]="reviews"></app-reviews>
      </div>

      <h5>{{ text.page.middle.subtitle }}</h5>
      <p
        *ngFor="let paragraph of text.page.middle.paragraph"
        class="paragraph"
        innerHTML="{{ paragraph }}"
      ></p>

      <h5>{{ text.page.bottom.subtitle }}</h5>
      <p
        *ngFor="let paragraph of text.page.bottom.paragraph"
        class="paragraph"
        innerHTML="{{ paragraph }}"
      ></p>
    </div>
  </div>
</div>
