#reviews-page
  background: url('src/assets/images/reviews-page-bg.png')
  background-size: cover
  background-position: center
  background-attachment: fixed
.text-content
  padding: 20px
  border-radius: 4px
h2, h5, .paragraph, #wiki-link
  margin: 10px
h5
  align-self: flex-start
button
  margin: 2px
  border-radius: 2px

#wiki-link
  align-self: flex-start
