<div class="navigator center-all-row">
  <div class="center-all-col link-holder">
    <span class="{{ links[0].icon }}"></span>
    <a routerLink="{{ links[0].route }}" routerLinkActive="active">{{
      links[0].route
    }}</a>
  </div>
  <div class="center-all-col link-holder">
    <span class="{{ links[1].icon }}"></span>
    <a routerLink="{{ links[1].route }}" routerLinkActive="active">{{
      links[1].route
    }}</a>
  </div>

  <!-- this is broken up with a regular links here because of a loading issue with eidogo - the inner
      content of the eidgo-player-auto div for some reason only loads on a full page load / refrersh -->
  <div class="center-all-col link-holder">
    <span class="go-board-icon"></span>
    <a href="/reviews">reviews</a>
  </div>

  <div class="center-all-col link-holder">
    <span class="{{ links[3].icon }}"></span>
    <a routerLink="{{ links[3].route }}" routerLinkActive="active">{{
      links[3].route
    }}</a>
  </div>
  <div class="center-all-col link-holder">
    <span class="{{ links[4].icon }}"></span>
    <a routerLink="{{ links[4].route }}" routerLinkActive="active">{{
      links[4].route
    }}</a>
  </div>
</div>
