@import '@angular/material/prebuilt-themes/deeppurple-amber.css'
@import url('http://fonts.googleapis.com/css?family=Raleway:300,400,500,600')
@import url('http://fonts.googleapis.com/css?family=Quicksand:300,400,500,600')

/* You can add global styles to this file, and also import other style files */
$paragraph-fontSize: 16px
$icon-fontSize: 16px

*
  font-family: Quicksand
  font-weight: 400

.right-all-row
  display: flex
  flex-direction: row
  justify-content: flex-end
  align-items: center
.left-all-row
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
.space-all-row
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: flex-start
.center-all-row
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
.center-all-col
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
.top-center-all-col
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
.bottom-center-all-col
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: center
.left-all-col
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
.space-all-col
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: flex-start
.pull-to-start
  align-self: flex-start
.pull-to-start
  align-self: flex-end
// basic page rules
.page
  min-height: 100vh
  height: 100%
.content
  padding: 150px 10px 80px 10px
  min-height: 100vh
  min-width: 100%
  background-color: rgba(245,245,245, 0.8)
.text-content
  max-width: 650px

// basic input rules
.mat-input-element
  // padding: 10px
// icons
@mixin text-icon
  background-size: 100% 100%
  display: inline-block
  height: $paragraph-fontSize
  width: $paragraph-fontSize
@mixin menu-icon
  background-size: 100% 100%
  display: block
  height: 18px
  width: 18px

.go-board-icon
  background: url('./assets/images/go-board.png')
  @include menu-icon

.triangle-icon
  background: url('./assets/images/triangle.png')
  @include text-icon
.square-icon
  background: url('./assets/images/square.png')
  @include text-icon

// ********* rules for ng-bootstap modal animation ********** //
.modal .modal-dialog, .modal-content, .modal-header, .modal-body
  // transition: all 3s ease
  border-radius: 10px
  animation-name: fade
  animation-duration: 0.5s
@keyframes fade
  0%
    opacity: 0.1
  100%
    opacity: 1

.modal-open
  overflow: visible
  padding-right: 0 !important
// ***** ////

// ***** rules for accordion form ***** ////I
.form-container
  animation-name: fade-down
  animation-duration: 0.5s
@keyframes fade-down
  0%
    opacity: 0.1
    transform: scale(0.01)
  100%
    opacity: 1
    transform: scale(1)
// ***** //
