<div id="home-page" class="page">
  <div class="content bottom-all-col">
    <div id="text-content" class="center-all-col">
      <h2>{{ title }}</h2>
      <h5>{{ subtitle }}</h5>

      <div>
        <a
          *ngFor="let button of buttons"
          routerLink="{{ button.route }}"
          routerLinkActive="active"
        >
          <button class="btn btn-outline-primary">
            {{ button.text }}
          </button>
        </a>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
